*, *::after, *::before {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  padding: 40px 100px;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 20px 16px;
  }
}

h2 {
  margin-bottom: 40px!important
}
